@import '../globals/colors'

.button
	display inline-block
	background black
	color white
	cursor pointer
	user-select none
	padding 0.5rem 1rem
	transition background 250ms, color 250ms

	&:hover
		background $main

	&.outline
		background transparent
		border 1px solid black
		color black

		&:hover
			background black
			color white
